<div *ngIf="loading" class="d-flex flex-column align-items-center justify-content-center mt-lg-5">
  <div class="row">
    <div class="spinner-border" role="status"></div>
  </div>
</div>

<div *ngIf="!loading" class="catalog-page__product-grid--with-sidebar col-sm-12 col-lg-12 mt-4">
  <section class="catalog-grid">
    <div *ngIf="!loading && products.length > 0" class="row">
      <div class="catalog-container">
        <a
          href="javascript:void(0);"
          [routerLink]="['/products', product.partNumber]"
          class="catalog-product-item catalog-product-item__container col-xs-5 col-sm-5 col-md-3 col-lg-3 p-lg-5"
          *ngFor="let product of products"
        >
          <div class="proportional-image-wrapper catalog-product__image-preview">
            <div class="proportional-image-wrapper-boundary" style="padding-bottom:74.07407407407408%"></div>
            <div class="images-preview">
              <div class="images-preview-item is-active">
                <img [src]="product.fullImage"/>
              </div>
            </div>
          </div>
          <div class="catalog-product-details">
            <div class="catalog-product-details__name">
              {{product.name}}
            </div>
            <div class="catalog-product-details__prices">
              <div class="catalog-prices">
                <meta itemprop="priceCurrency">
                <ul class="catalog-prices__list">
                  <li class="catalog-prices__list-price catalog-prices__lowest" title="Precio Normal">
                    {{product.prices.formattedListPrice}}
                  </li>
                  <li class="catalog-prices__offer-price" title="Precio Internet">
                    {{product.prices.formattedOfferPrice}}
                  </li>
                  <li *ngIf="product.prices.formattedCardPrice" class="catalog-prices__card-price" title="Precio Ripley">
                    {{product.prices.formattedCardPrice}}
                    <img class="catalog-prices__card-price-image" src="//static.ripley.cl/images/opex.png"
                         alt="Precio Tarjeta Ripley"></li>
                </ul>
              </div>
            </div>
            <div *ngIf="product.prices.discountPercentage > 0" class="catalog-product-details__discount-tag">
              -{{product.prices.discountPercentage}}%
            </div>
            <div class="catalog-product-details__event-img"><img src="//home.ripley.cl/promo-badges/cyber_oct.png"
                                                                 alt="En Promoción"></div>
          </div>
        </a>
      </div>
    </div>
  </section>
</div>
