.images-preview-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden
}

.images-preview-item.is-previous {
  z-index: 1;
  visibility: visible
}

.images-preview-item.is-active {
  z-index: 2;
  visibility: visible
}

.images-preview:not(.is-pristine) .images-preview-item.is-active {
  -webkit-animation: fadeIn .3s ease;
  animation: fadeIn .3s ease
}

.catalog-product-item {
  text-decoration: none;
  color: inherit
}

.catalog-product-item__container {
  margin-bottom: 30px;
  padding: 0 5px
}

.catalog-product__loading-image img {
  position: absolute;
  width: 30%;
  top: 50%;
  right: 50%;
  -webkit-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%)
}

.catalog-product__image-preview {
  position: relative
}

.catalog-product__image-preview--disabled .images-preview-item img {
  opacity: .6;
  -webkit-filter: gray;
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.catalog-product__image-preview .images-preview {
  height: 100%;
  overflow-x: hidden
}

.catalog-product__image-preview .images-preview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #fff
}

.catalog-product__image-preview .images-preview-item img {
  max-width: none;
  max-height: 100%
}

.catalog-product-details {
  padding: 4px
}

.catalog-product-details__discount-tag, .catalog-product-details__event-img {
  position: absolute;
  z-index: 2;
  right: 0
}

.catalog-product-details__discount-tag {
  width: 60px;
  height: 35px;
  top: -5px;
  border-radius: 3px;
  background-color: #e75353;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: #fff
}

@media (max-width: 544px) {
  .catalog-product-details__discount-tag {
    height: 24px;
    width: 50px;
    font-size: 12px;
    line-height: 24px
  }
}

.catalog-product-details__event-img {
  height: 30px;
  max-height: 30px;
  max-width: 65px;
  top: 35px
}

.catalog-product-details__event-img--alone {
  top: 10px
}

.catalog-product-details__event-img img {
  max-height: 100%;
  max-width: 100%
}

@media (max-width: 544px) {
  .catalog-product-details__event-img {
    top: 22px;
    height: 30px
  }
}

.catalog-product-details__logo-container .brand-logo {
  display: block;
  margin: 6px auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0;
  color: #000;
  font-size: 12px
}

.catalog-product-details__logo-container .brand-logo.has-logo {
  height: 18px;
  max-width: 50%;
  margin: 8px 0
}

.catalog-product-details__tags-container {
  width: 100%;
  height: 22px;
  margin: 6px 0
}

.catalog-product-details__tag {
  display: inline-block;
  height: 100%;
  width: 130px;
  max-width: 100%;
  padding: 0 4px;
  border: 1px solid #000;
  border-radius: 3px;
  text-align: center;
  line-height: 22px;
  font-size: 12px
}

.catalog-product-details__name {
  width: 100%;
  white-space: nowrap;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis
}

.catalog-product-details__prices {
  display: inline-block;
  width: 50%;
  vertical-align: top
}

.catalog-product-details__prices .catalog-prices {
  display: inline-block;
  width: 100%
}

.catalog-product-details__prices .catalog-prices .price-range {
  font-size: 12px
}

.catalog-product-details__prices .catalog-prices__lowest {
  text-decoration: line-through;
  font-weight: 500
}

.catalog-product-details__prices .catalog-prices__list li {
  line-height: 1.3em
}

.catalog-product-details__prices .catalog-prices__list-price {
  font-size: 12px
}

.catalog-product-details__prices .catalog-prices__offer-price {
  font-size: 14px;
  font-weight: 600
}

.catalog-product-details__prices .catalog-prices__card-price, .catalog-product-details__prices .catalog-prices__highest {
  font-size: 16px;
  color: #e75353;
  font-weight: 600
}

.catalog-product-details__prices .catalog-prices__card-price-image, .catalog-product-details__prices .catalog-prices__highest-image {
  width: 18px;
  height: 12px
}

@media (max-width: 544px) {
  .catalog-product-details__prices {
    width: 100%
  }

  .catalog-product-details__prices .catalog-prices__list-price {
    font-size: 9px
  }

  .catalog-product-details__prices .catalog-prices__offer-price {
    font-size: 10px;
    font-weight: 600
  }

  .catalog-product-details__prices .catalog-prices__card-price, .catalog-product-details__prices .catalog-prices__highest {
    font-size: 12px
  }

  .catalog-product-details__prices .catalog-prices__card-price-image, .catalog-product-details__prices .catalog-prices__highest-image {
    width: 14px;
    height: 9px
  }
}

.catalog-product-details__colors {
  display: inline-block;
  width: 50%;
  vertical-align: top
}

@media (max-width: 544px) {
  .catalog-product-details__colors {
    width: 100%;
    margin-top: 10px
  }

  .catalog-product-details__colors .catalog-colors-container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }

  .catalog-product-details__colors .catalog-colors-container .catalog-colors-option-outer {
    margin: 0 1px 1px
  }
}

@media (max-width: 544px) {
  .catalog-product-item.col-xs-6 .catalog-product-details__colors .catalog-colors-container .catalog-colors-option-outer {
    pointer-events: none
  }
}

@media (max-width: 544px) {
  .catalog-product-item.col-xs-12 .catalog-product-details__discount-tag {
    width: 60px;
    height: 35px;
    line-height: 35px;
    font-size: 16px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details__event-img {
    height: 30px;
    max-height: 30px;
    max-width: 65px;
    margin-right: 5px;
    top: 35px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices {
    width: 50%
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__list-price {
    font-size: 12px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__offer-price {
    font-size: 14px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__card-price, .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__highest {
    font-size: 16px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__card-price-image, .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__highest-image {
    width: 18px;
    height: 12px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors {
    width: 50%;
    margin-top: 0
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-container {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-container .catalog-colors-option-outer {
    margin: 0 2px 2px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-option-outer {
    height: 24px;
    width: 24px;
    padding: 1px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-option-outer.__unavailable:before {
    height: 27px;
    left: 11px;
    top: -3px
  }

  .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-option-inner {
    height: 20px;
    width: 20px
  }
}

@media (min-width: 992px) {
  .catalog-product .catalog-colors-option-outer {
    height: 24px;
    width: 24px;
    padding: 1px
  }

  .catalog-product .catalog-colors-option-outer.__unavailable:before {
    height: 30px;
    left: 11px
  }

  .catalog-product .catalog-colors-option-inner {
    height: 20px;
    width: 20px
  }
}

.product-image-previews {
  width: 64px;
  text-align: center;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background-color: #fff
}

.product-image-previews img {
  width: 100%;
  vertical-align: middle
}

.product-image-previews li {
  padding: 1px;
  height: 54px;
  width: 54px;
  line-height: 54px;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative
}

.product-image-previews li:first-child img {
  visibility: visible !important
}

.product-image-previews li.is-active {
  border: 1px solid #ccc;
  padding: 0
}

.product-image-previews.__hidden {
  display: none
}

.product-images {
  overflow: hidden
}

.product-images .event-img {
  z-index: 100;
  top: 20px;
  right: 35px;
  position: absolute
}

.product-images .event-img img {
  height: 35px
}

@media (max-width: 767px) {
  .product-images .event-img {
    top: 85px
  }
}

@media (max-width: 767px) {
  .product-carousel-container {
    width: 100%;
    margin-left: 0;
    text-align: center
  }

  .product-carousel-container .carousel-control[data-event=prev] {
    left: 0;
    opacity: 1
  }

  .product-carousel-container .carousel-control[data-event=next] {
    right: 0;
    opacity: 1
  }

  .product-image-previews {
    display: block;
    text-align: center;
    float: none;
    width: 100%
  }

  .product-image-previews li {
    display: inline-block
  }
}

.product-size {
  clear: both
}

.product-size-loading {
  background: url("../../assets/img/loading.gif") no-repeat;
  background-position: 50%;
  background-size: 100px;
  height: 380px;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  width: 100%
}

.product-size-loading.__hide {
  height: 0;
  opacity: 0;
  visibility: hidden
}

.product-size-link {
  border: 1px solid #70578b;
  color: #70578b;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  text-align: center
}

.product-size-link-text, .product-size-ruler {
  display: inline-block;
  fill: #70578b;
  vertical-align: middle
}

@media (max-width: 767px) {
  .product-size-link-text, .product-size-ruler {
    height: 32px;
    line-height: 32px
  }
}

@media (min-width: 768px) {
  .product-size-link-text, .product-size-ruler {
    height: 40px;
    line-height: 40px
  }
}

@media (max-width: 767px) {
  .product-size-ruler {
    width: 32px
  }
}

@media (min-width: 768px) {
  .product-size-ruler {
    width: 40px
  }
}

.product-size-container {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  overflow: hidden;
  position: fixed;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  z-index: 999
}

@media (max-width: 767px) {
  .product-size-container {
    bottom: 0;
    top: 0;
    width: 100%
  }
}

@media (min-width: 767px) {
  .product-size-container {
    right: 50%;
    top: 50%;
    height: 600px;
    margin-top: -300px;
    width: 740px;
    margin-right: -370px
  }
}

@media (min-width: 920px) {
  .product-size-container {
    margin-right: -450px;
    margin-top: -300px;
    height: 600px;
    width: 900px
  }
}

.product-size-header {
  background-color: #232322;
  color: #fff;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: left
}

@media (max-width: 767px) {
  .product-size-header {
    padding: 10px
  }
}

@media (min-width: 768px) {
  .product-size-header {
    color: #000;
    padding: 10px 20px
  }
}

.product-size-header-close {
  font-size: 20px;
  position: absolute
}

@media (max-width: 767px) {
  .product-size-header-close {
    fill: #fff;
    height: 18px;
    right: 22px;
    top: 21px;
    width: 18px
  }
}

@media (min-width: 768px) {
  .product-size-header-close {
    fill: #fff;
    height: 15px;
    right: 15px;
    top: 15px;
    width: 15px
  }
}

.product-size-header-close:hover {
  cursor: pointer
}

.product-size-header-ruler {
  fill: #fff;
  float: left;
  height: 42px;
  line-height: 60px;
  margin-right: 6px;
  width: 52px
}

@media (min-width: 768px) {
  .product-size-header-ruler {
    height: 60px;
    margin-right: 12px
  }
}

.product-size-header-title {
  color: #fff;
  margin: 0
}

@media (max-width: 767px) {
  .product-size-header-title {
    padding: 10px
  }
}

@media (min-width: 768px) {
  .product-size-header-title {
    font-size: 20px;
    line-height: 60px;
    margin-bottom: 4px;
    padding-left: 8px
  }
}

.product-size-content {
  height: 90%;
  overflow: auto;
  padding: 8px
}

@media (min-width: 420px) {
  .product-size-content {
    padding: 8px 30px
  }
}

@media (min-width: 768px) {
  .product-size-content {
    height: 500px
  }
}

.product-size-content-copy {
  text-align: center
}

.product-size-table {
  margin: 0 auto;
  table-layout: fixed
}

@media (max-width: 767px) {
  .product-size-table {
    width: 100%
  }
}

@media (min-width: 768px) {
  .product-size-table {
    width: 600px
  }
}

.product-size-table-header {
  background-color: #ddd;
  border: 1px solid gray;
  border-bottom: none
}

.product-size-table-row:hover {
  background-color: #eee
}

.product-size-table-cell {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  font-size: 15px;
  height: 40px;
  text-align: center;
  min-width: 54px
}

.product-size-table-cell:hover {
  background-color: #dadada;
  color: #333
}

.product-size-table-cell.__header:hover {
  background-color: #dfdfdf;
  color: #333
}

.product-size-table-body {
  border: 1px solid #aaa
}

.product-size-footer {
  text-align: center
}

@media (max-width: 767px) {
  .product-size-footer {
    padding: 10px;
    margin-bottom: 40px
  }
}

@media (min-width: 768px) {
  .product-size-footer {
    padding: 14px 30px
  }
}

.product-size-footer-row {
  display: inline-block;
  padding-right: 6px
}

.product-size-footer-link {
  color: #70578b;
  text-decoration: underline
}

.product-size-no-table {
  background-color: #f1f1f1;
  border-radius: 4px;
  font-weight: 100;
  padding: 14px;
  text-align: center
}

.product-size .brand-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  margin: 18px auto;
  text-align: center
}

.product-size .brand-logo.has-logo {
  height: 36px;
  margin: 30px auto 0;
  width: 180px
}

.product-size-converter {
  font-weight: 400;
  padding: 10px 0 15px;
  text-transform: uppercase;
  text-align: left;
  color: #70578b
}

.product-size__slideout.slideout {
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 10000
}

.product-size__slideout.slideout .slideout__container {
  background: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease
}

.product-size__slideout.slideout.__fade {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0
}

.product-colors-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: top;
  width: 100%
}

.product-colors-option-inner {
  border-radius: 0;
  height: 40px;
  width: 40px
}

@media (max-width: 544px) {
  .product-colors-option-inner {
    height: 40px;
    width: 40px
  }
}

.product-colors-option-outer {
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 44px;
  display: inline-block;
  margin: 0 2px 2px;
  padding: 1px;
  position: relative;
  -webkit-transition: border .3s ease-in;
  transition: border .3s ease-in;
  width: 44px
}

@media (max-width: 544px) {
  .product-colors-option-outer {
    height: 44px;
    width: 44px
  }
}

.product-colors-option-outer:hover {
  border-color: #999;
  cursor: pointer
}

.product-colors-option-outer.__chosen {
  border-color: #444
}

.product-colors-option-outer.__unavailable {
  opacity: .4
}

.product-colors-option-outer.__unavailable:before {
  border: .5px solid #9b9b9b;
  content: " ";
  display: block;
  height: 40px;
  left: 20px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0
}

.product-colors-option-outer.__unavailable:before:hover {
  cursor: default
}

.use-desktop-options .product-options-desktop-wrapper {
  display: inherit
}

.use-desktop-options .product-options-mobile-wrapper {
  display: none
}

@media (max-width: 991px) {
  .product-options {
    width: 100%
  }
}

.product-options .custom-select {
  margin-bottom: 10px;
  border: none;
  text-align: left
}

.product-options .custom-select .custom-select-title {
  color: #70578b;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase
}

.product-options .custom-select input {
  width: 100%;
  height: 100%;
  visibility: hidden
}

.product-options .custom-select .radio-item {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: auto;
  padding: 0
}

.product-options .custom-select .radio-item:last-child {
  margin-right: 0
}

.product-options .custom-select .item-radio {
  display: none
}

.product-options .custom-select label {
  cursor: pointer;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
  -webkit-transition-property: border-color, color, background;
  transition-property: border-color, color, background;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 1px solid #e8e8e8;
  line-height: 40px;
  text-align: center;
  height: 40px;
  font-size: 13px;
  font-weight: 400;
  padding: 0 15px
}

.product-options .custom-select .is-disabled label {
  border-style: dashed;
  background: #f7f7f7;
  color: #cfcfcf
}

.product-options .custom-select .is-selected label {
  border-width: 2px;
  line-height: 38px;
  border-color: #e75353
}

.product-options .custom-select .is-selected.is-disabled label {
  border-style: dotted;
  border-color: #f3adad
}

.product-options .custom-select.radio-box-wide label {
  min-width: 100px
}

.product-options .custom-select.radio-box label {
  min-width: 40px
}

@media (max-width: 544px) {
  .product-options .custom-select .radio-item {
    display: inline-block;
    float: none;
    margin-right: 5px !important;
    margin-left: 5px
  }
}

.product-options-mobile-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9
}

.product-options-mobile-options .custom-select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%
}

.product-options-mobile-options .custom-select-wrapper label {
  font-size: 12px;
  color: #70578b;
  font-weight: 700;
  margin: 0 0 0 10px
}

.product-options-mobile-options .custom-select-wrapper .custom-select {
  margin: 0
}

.product-options-mobile-options .separator {
  background-color: #ccc;
  padding: 0 1px;
  margin: 0 5px
}

.product-options-mobile-options .product-size-converter {
  display: none
}

.product-options-mobile-wrapper {
  display: none;
  width: 100%;
  position: fixed;
  padding: 15px 10px;
  bottom: 42px;
  left: 0;
  background: #f9f9f9;
  -webkit-box-shadow: 0 4px 20px 0 #4b4a4a;
  box-shadow: 0 4px 20px 0 #4b4a4a;
  z-index: 40
}

@media (max-width: 544px) {
  .product-options-mobile-wrapper {
    display: inherit
  }
}

.product-options-mobile-wrapper .product-size-converter {
  padding: 10px 0 0
}

.product-options-desktop-wrapper {
  display: inherit
}

@media (max-width: 544px) {
  .product-options-desktop-wrapper {
    display: none
  }
}

@media (min-width: 544px) {
  .product-options > .size-chart-wrapper {
    display: none
  }
}

.product-options .product-size-warn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0
}

.product-options .product-size-warn svg {
  width: 75px;
  height: 75px;
  margin-right: 20px
}

.product-options .product-size-warn div p {
  margin: 0;
  color: #e13051;
  font-weight: 700
}

.product-options .product-size-warn div p:last-child {
  color: #70578b;
  text-decoration: underline;
  cursor: pointer
}

.simple-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 4050
}

.simple-modal .slideout__container {
  height: auto;
  min-height: auto;
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: opacity .2s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, opacity .2s ease;
  transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}

.simple-modal-in {
  -webkit-animation: fadeIn .2s ease both;
  animation: fadeIn .2s ease both
}

.simple-modal-out {
  -webkit-animation: fadeOut .2s ease both;
  animation: fadeOut .2s ease both
}

.simple-modal-in .slideout__container, .simple-modal-out .slideout__container {
  -webkit-transform: scale(.9);
  transform: scale(.9);
  opacity: 0
}

.simple-modal-header {
  position: relative;
  padding: 10px
}

.simple-modal-close-button {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0
}

.simple-modal-close-button svg {
  width: 10px;
  height: 10px
}

.product-warranties__modal-wrapper .slideout__container {
  width: 500px
}

.product-warranties__modal-wrapper .slideout__body {
  margin-top: -50px
}

.product-warranties-modal__wrapper {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

@media (max-width: 500px) {
  .product-warranties-modal__wrapper {
    width: 100%
  }
}

.product-warranties-modal__header {
  margin-top: -40px
}

.product-warranties-modal__header img {
  width: 100px
}

.product-warranties-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 50px;
  width: 100%
}

@media (max-width: 544px) {
  .product-warranties-modal__content {
    padding: 0 25px
  }
}

.product-warranties-modal__content .info {
  color: #70578b;
  margin-bottom: 15px
}

.product-warranties-modal__content .info h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center
}

.product-warranties-modal__content .info p {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 9px
}

.product-warranties-modal__content .info p a {
  text-decoration: underline;
  cursor: pointer
}

.product-warranties-modal__content .options {
  width: 100%;
  font-size: 14px;
  margin-bottom: 40px
}

.product-warranties-modal__content .options .radio-item label {
  color: #70578b;
  font-size: inherit
}

.product-warranties-modal__content .options .item-radio {
  color: #fff
}

.product-warranties-modal__content .button {
  margin-bottom: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.product-warranties-modal__content .button button {
  font-size: 14px;
  padding: 10px 20px;
  background: #e75353;
  width: 200px
}

.product-warranties-modal .slideout {
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 10000;
  background-color: hsla(0, 0%, 100%, .6)
}

@media (max-width: 600px) {
  .product-warranties-modal .slideout {
    overflow: auto
  }
}

.product-warranties-modal .slideout__container {
  background: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.product-warranties-modal .slideout__body {
  width: auto;
  -webkit-box-shadow: 0 1px 20px 1px #818181;
  box-shadow: 0 1px 20px 1px #818181
}

.product-warranties-modal .slideout.__fade {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0
}

.marketing-zone.is-loading {
  text-align: center
}

.marketing-zone.is-loading img {
  max-width: 100px
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 25px solid #efefef;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%)
}

.quickview-container {
  padding: 15px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #efefef;
  margin-bottom: 10px
}

.quickview-container-pane {
  color: #333;
  overflow-y: auto
}

.quickview-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row
}

.quickview-header, .quickview-lower-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal
}

.quickview-lower-section {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px
}

.quickview-lower-section .btn-outline-grey {
  background: transparent;
  border: 1px solid #727272;
  color: #727272;
  padding: 5px 10px;
  margin-top: 20px;
  width: 120px;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  border-radius: 2px
}

.quickview-lower-section .btn-outline-grey:hover {
  color: #fff;
  background: #727272
}

.quickview-lower-section .product-buy-options {
  background: #fff;
  width: 100%;
  margin-top: 10px
}

.quickview-lower-section .product-buy-options p {
  margin: 0
}

.quickview-lower-section .product-buy-options button.btn-primary {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  height: 48px;
  -webkit-transition: padding .3s ease;
  transition: padding .3s ease;
  z-index: 0;
  position: relative
}

.quickview-lower-section .product-buy-options button.is-loading {
  pointer-events: none
}

.quickview-lower-section .product-buy-options button.always-unavailable, .quickview-lower-section .product-buy-options button.always-unavailable:focus, .quickview-lower-section .product-buy-options button.always-unavailable:hover {
  background: #70578b
}

.quickview-lower-section .product-buy-options button.is-unavailable, .quickview-lower-section .product-buy-options button.is-unavailable:focus, .quickview-lower-section .product-buy-options button.is-unavailable:hover {
  background: #2b2b2b
}

.quickview-lower-section .product-buy-options + section {
  margin-top: 10px
}

@media (max-width: 544px) {
  .quickview-lower-section .product-buy-options {
    background: #f9f9f9
  }

  .quickview-lower-section .product-buy-options a.btn.is-disabled, .quickview-lower-section .product-buy-options button.is-disabled {
    color: #797979;
    background-color: #f9f9f9 !important
  }
}

@media (max-width: 544px) {
  .product-buy-options {
    position: static;
    bottom: 0;
    left: 0;
    z-index: 40;
    margin-top: 0
  }

  .product-buy-options button {
    border-radius: 0
  }
}

.is-loading-overlay {
  background: hsla(0, 0%, 100%, .6);
  background-image: url("/images/loading.gif");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1
}

@-webkit-keyframes fadeInEnter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes fadeInEnter {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

.quickview-container {
  -webkit-transition: max-height .4s ease-in-out, opacity .4s ease-out;
  transition: max-height .4s ease-in-out, opacity .4s ease-out
}

.quickview-on-enter {
  max-height: 1280px;
  -webkit-animation-name: fadeInEnter;
  animation-name: fadeInEnter;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1
}

.quickview-on-exit {
  -webkit-transition: max-height .4s ease-in-out, opacity .4s ease-out;
  transition: max-height .4s ease-in-out, opacity .4s ease-out;
  opacity: 0;
  max-height: 0;
  visibility: hidden
}

.catalog-grid > .row {
  margin: auto 0
}

.catalog-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.product-description {
  height: 100px
}

.images-preview {
  position: absolute;
  width: 100%;
  max-height: 100%;
  top: 0;
  left: 0
}

@media (min-width: 1200px) {
  .col-lg-custom {
    width: 20%
  }
}

.order-by-select span {
  display: none
}

.catalog-page .catalog-facets .has-scrollbar ul, .slideout .catalog-facets .has-scrollbar ul {
  padding-right: 20px
}

.catalog-page__search-results {
  line-height: 40px;
  min-height: 50px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 16px;
  padding-top: 10px
}

@media (max-width: 767px) {
  .catalog-page__search-results {
    border: none;
    margin-bottom: 0
  }
}

.catalog-page__order-by-select {
  display: block;
  text-align: end;
  height: 40px;
  font-size: 14px;
  overflow: hidden
}

.catalog-page__order-by-select .custom-select {
  line-height: 30px;
  height: 100%
}

.catalog-page__results-text {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 10px
}

.catalog-page__product-grid--with-sidebar {
  padding: 0
}

.catalog-page__page-count {
  text-align: right
}

.catalog-page__with-sidebar-filters {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px
}

@media (min-width: 992px) {
  .catalog-page__with-sidebar-filters {
    display: none
  }
}

.catalog-page__footer-pagination {
  text-align: center
}
