<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-ripley">
  <a class="navbar-brand" href="javascript:void(0);" [routerLink]="['/']">
    <img height="40" src="assets/img/ripley_logo.png" alt="ripley.com">
  </a>
  <ul *ngIf="user !== null" class="navbar-nav ml-auto">
    <li class="nav-item text-white mr-2">
      Bienvenid@ {{user.name}} {{user.lastName}}
    </li>
    <li style="border-right: 1px solid white;"></li>
    <li class="nav-item text-white ml-2">
      <a href="javascript:void(0);" (click)="logout()" class="text-white">Cerrar Sesión</a>
    </li>
  </ul>
</nav>
