<div class="container">
  <div *ngIf="loading" class="d-flex flex-column align-items-center justify-content-center mt-lg-5">
    <div class="row">
      <div class="spinner-border" role="status"></div>
    </div>
  </div>

  <section class="product-item">
    <div *ngIf="!loading" class="catalog-page__product-grid--with-sidebar col-sm-12 col-lg-12 mt-4">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7">
          <img class="p-5" [src]="product.fullImage" [alt]="product.name"/>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
          <section class="product-header">
            <h1 class="font-weight-bold">{{product.name}}</h1>
            <small class="mt-2">
              SKU: <span itemprop="sku" class="sku">{{product.partNumber}}</span>
            </small>
            <div class="product-short-description mt-3">{{product.shortDescription}}</div>
          </section>
          <section class="product-info">
            <div id="product-badge-prices-banner" class="marketing-zone is-idle"></div>
            <meta itemprop="priceCurrency" content="CLP">
            <ul>
              <li class="product-normal-price mt-3">
                <span class="product-price-type">Normal</span>
                <span class="product-price">{{product.prices.formattedListPrice}}</span>
              </li>
              <li class="product-internet-price-not-best mt-3">
                <span class="product-price-type">Internet</span>
                <span class="product-price">{{product.prices.formattedOfferPrice}}</span>
              </li>
              <li *ngIf="product.prices.formattedCardPrice" class="product-ripley-price mt-3">
                <span class="product-price-type">Tarjeta Ripley</span>
                <span class="product-price">
                <img src="//static.ripley.cl/images/opex.png"
                     alt="Precio Tarjeta Ripley"> {{product.prices.formattedCardPrice}}
              </span>
              </li>
              <li *ngIf="product.prices.discountPercentage > 0" class="product-price-discount mt-3">
                <span class="product-price-type">Descuento</span>
                <span class="product-discount-tag">
                <span class="discount-percentage">-{{product.prices.discountPercentage}}%</span>
              </span>
              </li>
              <li *ngIf="product.prices.discountPercentage > 0" class="product-ripley-puntos mt-4">
                <span class="product-price-type">Acumulas</span>
                <span class="product-price">{{product.prices.ripleyPuntos}} RipleyPuntos GO</span>
              </li>
            </ul>
          </section>
        </div>
      </div>

      <div class="row mt-5 mb-5">
        <div class="col-12">
          <section class="section-product-info">
            <div class="accordion accordion-info" id="accordionParent">
              <div
                [className]="longDescriptionExpanded ? 'accordion-item accordion-product-info accordion-item-expanded' : 'accordion-item accordion-product-info accordion-item-collapsed'">
                <div (click)="toggleLongDescription()" id="descripcion" class="accordion-item-title"
                     title="Click para colapsar.">
                  <span>Descripción</span>

                  <div *ngIf="!longDescriptionExpanded" class="plus-minus-toggle accordion-item-collapsed"></div>
                  <div *ngIf="!longDescriptionExpanded" class="toggle-message">VER MÁS</div>

                  <div *ngIf="longDescriptionExpanded" class="plus-minus-toggle accordion-item-expanded"></div>
                  <div *ngIf="longDescriptionExpanded" class="toggle-message">VER MENOS</div>
                </div>
                <div class="accordion-item-wrapper">
                  <div class="accordion-item-content">
                    <div itemprop="description">
                      <div class="row">
                        <div class="col-xs-12">
                          <div [innerHTML]="product.longDescription"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                [className]="attrsExpanded ? 'accordion-item accordion-product-info accordion-item-expanded' : 'accordion-item accordion-product-info accordion-item-collapsed'">
                <div (click)="toggleAttrs()" id="especificaciones" class="accordion-item-title"
                     title="Click para expandir.">
                  <span>Especificaciones</span>

                  <div *ngIf="!attrsExpanded" class="plus-minus-toggle accordion-item-collapsed"></div>
                  <div *ngIf="!attrsExpanded" class="toggle-message">VER MÁS</div>

                  <div *ngIf="attrsExpanded" class="plus-minus-toggle accordion-item-expanded"></div>
                  <div *ngIf="attrsExpanded" class="toggle-message">VER MENOS</div>
                </div>
                <div class="accordion-item-wrapper">
                  <div class="accordion-item-content">
                    <table class="table table-striped">
                      <tbody>
                      <tr *ngFor="let attr of product.attributes">
                        <td>{{attr.name}}</td>
                        <td>{{attr.value}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div
                [className]="warrantiesExpanded ? 'accordion-item accordion-product-info accordion-item-expanded' : 'accordion-item accordion-product-info accordion-item-collapsed'">
                <div (click)="toggleWarranties()" id="garantia" class="accordion-item-title"
                     title="Click para expandir.">
                  <span>Garantía Legal y Devoluciones</span>

                  <div *ngIf="!warrantiesExpanded" class="plus-minus-toggle accordion-item-collapsed"></div>
                  <div *ngIf="!warrantiesExpanded" class="toggle-message">VER MÁS</div>

                  <div *ngIf="warrantiesExpanded" class="plus-minus-toggle accordion-item-expanded"></div>
                  <div *ngIf="warrantiesExpanded" class="toggle-message">VER MENOS</div>
                </div>
                <div class="accordion-item-wrapper">
                  <div class="accordion-item-content">
                    <div class="container product-general-info">
                      <div class="product-general-info__warranty row">
                        <div class="col-xs-12 content">
                          <h2 class="title">
                            <svg role="img" title="garantia" class="svg-icon svg-icon-garantia small-image visble-xs">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#garantia"></use>
                            </svg>
                            <span>GARANTÍA LEGAL Y DEL FABRICANTE</span></h2>
                          <p class="text">La Garantía legal establece la cobertura dentro de los 3 primeros meses de
                            adquirido el producto ante fallas, defectos de fabricación, no tuviera las características o
                            no corresponda a lo informado al momento de la compra. En Ripley.com puedes retractarte de
                            tu compra en los 10 días contados desde su recepción. <a
                              href="https://simple.ripley.cl/minisitios/estatico/servicio_cliente/terminos_condiciones.html#Terminos_Condiciones_10">Ver
                              más sobre derecho a retracto.</a></p>
                          <p>La Garantía del Fabricante hace referencia a un compromiso de cobertura adicional que
                            podría superar la garantía legal de los 3 primeros meses. Posteriormente, el fabricante es
                            quien será responsable de recepcionar y velar por la garantía dependiendo de las vigencia y
                            las condiciones ofrecidas y establecidas en cada caso. <a
                              href="https://simple.ripley.cl/minisitios/estatico/servicio_cliente/terminos_condiciones.html#Terminos_Condiciones_11">Ver
                              más sobre garantía legal.</a></p></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div *ngIf="visitedProducts.length > 0" class="row mt-5" style="z-index:999">
        <div style="position: relative;"
             class="catalog-container catalog-carousel-container col-xs-12">
          <div class="pb-3" style="font-size: 16px;color: #e75353;">
            Vistos recientemente
          </div>
          <div style="opacity: 1;">
            <div>
              <div class="d-flex">
                <div *ngFor="let productVisited of visitedProducts" style="width: 204px;">
                  <a style="position: relative;height: 280px;text-align:center"
                     class="catalog-product catalog-item"
                     [routerLink]="['/products', productVisited.partNumber]"
                     href="javascript:void(0);"
                     target="_blank"
                  >
                    <div style="position: relative;width: 100%;height: 113px;">
                      <img
                        style="display: block;max-height: 100%;max-width: 100%;height: auto;width: auto;position: absolute;margin: auto;left: 0;right: 0;top: 0;bottom: 0"
                        [src]="productVisited.thumbnailImage"
                        class="b-loaded"/>
                    </div>
                    <span class="catalog-product-name"
                          style="overflow: hidden;text-overflow: ellipsis;-webkit-box-orient: vertical;display: -webkit-box;-webkit-line-clamp: 3;width: 100%;min-height: 61px;">
                      {{productVisited.name}}
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
