a {
  color: #634D7B;
}

.btn-ripley:hover, .btn-ripley:active, .btn-ripley:focus, .btn-ripley {
  background-color: #634D7B !important;
  border-color: #634D7B !important;
  color: white !important;
}

.form-register {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
}
