<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="form-register">
    <div class="text-center mb-4 mt-4">
      <img class="mb-4" src="assets/img/logo.png" alt="" height="72">
      <h2 class="h3 mb-3 font-weight-normal">Registro</h2>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="text"
        id="name"
        class="form-control"
        formControlName="name"
        placeholder="Ingresa tu nombre"
        required
        autofocus
      />
      <div *ngIf="!loading && name.invalid && (name.dirty || name.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        El nombre es requerido
      </div>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="text"
        id="lastName"
        class="form-control"
        placeholder="Ingresa tu apellido"
        required
        formControlName="lastName"
      />
      <div *ngIf="!loading && lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        El apellido es requerido
      </div>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="text"
        id="rut"
        class="form-control"
        placeholder="Ingresa tu RUT, ejemplo: 12345678-1"
        required
        formControlName="rut"
      />
      <div *ngIf="!loading && rut.errors !== null && rut.errors.required && (rut.dirty || rut.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        El RUT es requerido
      </div>
      <div *ngIf="!loading && rut.errors !== null && rut.errors.pattern && (rut.dirty || rut.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        RUT inválido
      </div>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="email"
        id="email"
        class="form-control"
        placeholder="Ingresa un email válido"
        required
        formControlName="email"
      />
      <div *ngIf="!loading && email.errors !== null && email.errors.required && (email.dirty || email.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        El email es requerido
      </div>
      <div *ngIf="!loading && email.errors !== null && email.errors.email && (email.dirty || email.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        Email inválido
      </div>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="password"
        id="password"
        class="form-control"
        placeholder="Crea tu contraseña"
        formControlName="password"
        required
      />
      <div *ngIf="!loading && password.invalid && (password.dirty || password.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        La contraseña es requerida
      </div>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="password"
        id="repeatPassword"
        class="form-control"
        placeholder="Confirma tu contraseña"
        required
        formControlName="repeatPassword"
      />
      <div *ngIf="!loading && repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="alert alert-danger m-0 p-0 mt-2 text-center">
        Confirme contraseña
      </div>
    </div>

    <div *ngIf="!loading && registerForm.errors !== null && registerForm.errors.passwordDoesNotMatch" class="alert alert-danger m-0 p-2 mt-4 text-center">
      Las contraseñas no coinciden
    </div>

    <div *ngIf="!loading && registerForm.errors !== null && registerForm.errors.registerError" class="alert alert-danger m-0 p-2 mt-4 text-center">
      {{registerForm.errors.registerError}}
    </div>

    <button class="btn btn-md btn-primary btn-ripley btn-block mt-4" type="submit" [disabled]="loading">
      <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status"></div> Registrar
    </button>

    <p class="text-center mt-3">
      ¿Ya tienes cuenta? <a [routerLink]="['/login']" class="font-weight-bold">Inicia Sesión!</a>
    </p>
  </form>
</div>
