<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="form-login">
    <div class="text-center mb-4 mt-4">
      <img class="mb-4" src="assets/img/logo.png" alt="" height="72">
      <h2 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h2>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="email"
        id="email"
        class="form-control"
        placeholder="Email"
        required
        formControlName="email"
      />
      <div *ngIf="!loading && email.errors !== null && email.errors.required && (email.dirty || email.touched)"
           class="alert alert-danger m-0 p-0 mt-2 text-center">
        El email es requerido
      </div>
      <div *ngIf="!loading && email.errors !== null && email.errors.email && (email.dirty || email.touched)"
           class="alert alert-danger m-0 p-0 mt-2 text-center">
        Email inválido
      </div>
    </div>

    <div class="form-label-group mt-4">
      <input
        [readOnly]="loading"
        type="password"
        id="password"
        class="form-control"
        placeholder="Contraseña"
        formControlName="password"
        required
      />
      <div *ngIf="!loading && password.invalid && (password.dirty || password.touched)"
           class="alert alert-danger m-0 p-0 mt-2 text-center">
        La contraseña es requerida
      </div>
    </div>

    <div *ngIf="!loading && loginForm.errors !== null && loginForm.errors.loginError" class="alert alert-danger m-0 p-2 mt-4 text-center">
      {{loginForm.errors.loginError}}
    </div>

    <div *ngIf="message !== null" class="alert alert-warning m-0 p-2 mt-4 text-center">
      {{message}}
    </div>

    <button class="btn btn-md btn-primary btn-ripley btn-block mt-4" type="submit" [disabled]="loading">
      <div *ngIf="loading" class="spinner-border spinner-border-sm text-light" role="status"></div> Iniciar Sesión
    </button>

    <p class="text-center mt-3">
      ¿No tienes cuenta? <a [routerLink]="['/register']" class="font-weight-bold">Registrate!</a>
    </p>
  </form>
</div>
